platform/libffi-3.2.1/i686-pc-linux-gnu/
platform/libffi-3.2.1/target/usr/local/lib/libffi.so
platform/libffi-3.2.1/target/usr/local/lib/libffi.so.6
platform/libffi-3.2.1/target/usr/local/lib/libffi.so.6.0.4
src/slogan

